<!-- app/components/flash_message/component.html.erb -->
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="<%= color_classes %> alert-dismissible fade show d-flex align-items-center flash-message" role="alert">
      <strong class="me-2"><%= message %></strong>
    </div>
  </div>
</div>